In [2]:
import pandas as pd
import numpy as np

### Cleaning the Data Set
- Look for duplicates (Dates)
- Look for null or `NaN` values
-

In [5]:
df = pd.read_csv('Datathon_Fall2023_Dataset.csv')

df.head(10)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2072 entries, 0 to 2071
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     2072 non-null   int64
 1   Anomaly  2072 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 32.5 KB

In [6]:
removedValues = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2072 entries, 0 to 2071
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     2072 non-null   int64
 1   Anomaly  2072 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 32.5 KB

### Formatting the Data for the Model
- Splice the Year Column into Year and Month 
  - example: 185001 -> 1850, January or 1850, 1

### Export the cleaned/formatted dataset to a new CSV file